<div class="dropdown">
    <button class="profile">Profile</button>
    <div id="dropdown-menu" class="hidden-dropdown">
      <ul>
        <li><a href="profile">Profile</a></li>
        <li><a href="settings">Settings</a></li>
        <li><a href="guest">Logout</a></li>
      </ul>
    </div>
  </div>
  <script>
  const dropdownMenu = document.getElementById("dropdown-menu");

    dropdownMenu.addEventListener("click", (event) => {
      event.stopPropagation();
    });
    
    document.addEventListener("click", () => {
      dropdownMenu.classList.add("hidden-dropdown");
    });
    
    const profileButton = document.querySelector(".profile");
    profileButton.addEventListener("click", () => {
      dropdownMenu.classList.toggle("hidden-dropdown");
    });
    </script>
