<div *ngIf="display_projects == true">
  <ul *ngFor="let project of projects; index as i; trackBy:trackById" class="project">
      <li id="li">
        <button class="PrBtn 
        {{ project.nom_statut === 'Terminé' ? 'finished' : project.nom_statut === 'Suspendu' ? 'suspended' : 'in-progress' }}"
        (click)="showDetails(project.id_projet)">
          <h2>{{ project.nom_projet }}</h2>
          <p>{{ project.description_projet }}</p>
          <h3><b>Objectif: {{ project.objectif_projet }} €</b></h3>
          <h3><b>Récolte: {{ project.recolte_projet }} €</b></h3>
          <progress value="{{project.recolte_projet}}" max="{{ project.objectif_projet }}"></progress>
          <p class="status">{{project.nom_statut}}</p>
        </button>
      </li>   
    </ul>
  </div>

  <div *ngIf="display_project == true" class="oneProject">
    <script>console.log(project_info)</script>
    <h1>{{ project_info.nom_projet }}</h1>
    <p>{{ project_info.description }}</p>
    <p>{{project_info.identifiant_utilisateur}}</p>
    <h3>{{project_info.nom_statut}}</h3>
    <h3>{{project_info.nom_odd}}</h3>
    <h2>{{project_info.objectif_projet}}</h2>
    <h2>{{project_info.recolte_projet}}</h2>
    <progress value="{{project_info.recolte_projet}}" max="{{ project_info.objectif_projet }}"></progress>

  </div>

  