div {
    margin: 20px;
    padding: 10px;
    border: 1px solid darkgreen;
    border-width: 4px;
    
    h2 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    
    p {
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 5px;
    }
  }
  