<app-navbar></app-navbar>
<!--<div class="form_container">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Email" required ngModel>
        </div>
        <div class="group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" required ngModel>
        </div>
        <div class="group">
            <button type="submit">Login</button>
        </div>
    </form>
    </div>-->

<!--<div class="container">
    <form class="form">
        <ul class="wrapper">
            <li style="--i:4;"><input class="input" type="text" placeholder="Name" required=""></li>
            <li style="--i:3;"><input class="input" placeholder="Phone number" required="" name="phone"></li>
            <li style="--i:2;"><input class="input" type="email" placeholder="E-mail" required="" name="email"></li>
            <button style="--i:1;">Submit</button>
        </ul>
    </form>
</div>-->
<div class="container">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="form">
        <ul class="wrapper">
            <li style="--i:4;">
                <!--<label for="email">Email</label>-->
                <input class="input" type="email" id="email" name="email" placeholder="Email" required ngModel>

            </li>
            <li style="--i:3;">
                <!--<label for="password">Password</label>-->
                <input class="input" type="password" id="password" name="password" placeholder="Password" required ngModel>
            </li>
            <button style="--i:1;">Submit</button>
        </ul>
    </form>
</div>