.navbar {
    background-color: #006633;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
<<<<<<< HEAD
<<<<<<< HEAD

    .home {
      margin-right: auto;
    }
    a:link {
      color: whitesmoke; /* Couleur avant la visite */
    }

    a:visited {
      color: whitesmoke; /* Couleur après la visite */
    }


    .menu {
      margin-left: auto;
    }

=======
    
    .home {
      margin-right: auto;
    }
  
    .menu {
      margin-left: auto;
    }
  
>>>>>>> a88269382279df5fc5803de048dd8eea92ebafa2
=======
    
    .home {
      margin-right: auto;
    }
  
    .menu {
      margin-left: auto;
    }
  
>>>>>>> origin/lulualex
    .search,
    .project,
    .menu {
      margin-left: 20px;
<<<<<<< HEAD
<<<<<<< HEAD
      display: flex;
      align-items: center;
      margin-right: 10px;
    }

    .project img {
      margin-right: 10px;
    }

    .menu button {
      background-color: #006633;
      border: none;
      color: #fff;
      cursor: pointer;
      padding: 10px;
      font-size: 16px;
      display: flex;
      align-items: center;

      &:hover {
        background-color: #008040;
      }
    }
  }
=======
    }
  
    .search {
      width: 300px;
    }
  
    .project,
    .menu {
      display: flex;
      align-items: center;
    }
  
    .project img {
      margin-right: 10px;
    }
  
    .menu button {
      background-color: #006633;
      border: none;
      color: #fff;
      cursor: pointer;
      padding: 10px;
      font-size: 16px;
      display: flex;
      align-items: center;
  
      &:hover {
        background-color: #008040;
      }
    }
  }
  
>>>>>>> a88269382279df5fc5803de048dd8eea92ebafa2
=======
    }
  
    .search {
      width: 300px;
    }
  
    .project,
    .menu {
      display: flex;
      align-items: center;
    }
  
    .project img {
      margin-right: 10px;
    }
  
    .menu button {
      background-color: #006633;
      border: none;
      color: #fff;
      cursor: pointer;
      padding: 10px;
      font-size: 16px;
      display: flex;
      align-items: center;
  
      &:hover {
        background-color: #008040;
      }
    }
  }
  
>>>>>>> origin/lulualex
