<!-- modify-project.component.html 
<form (ngSubmit)="onSubmit()">
    <label for="nom_projet">Nom du projet:</label>
    <input type="text" id="nom_projet" [(ngModel)]="project.nom_projet" name="nom_projet">

    

<button type="submit">Enregistrer les modifications</button>
</form>-->
<!--<h3>Mofification du projet avec id: {{projects.id_projet}},{{projects.nom_projet}}
</h3>-->
<form (ngSubmit)="onSubmit()" ngNativeValidate>
    <label>Project name: </label><input type="text" [(ngModel)]="project.nom_projet" name="nom_projet" id="nom_projet" /><br>
    <label>Description: </label><input type="text" [(ngModel)]="project.description_projet" name="description_projet" id="description_projet" /><br>
    <!--<label>Project Picture :</label><input type="file" ngModel name="projectPicture" accept="image/png, image/jpeg" id="projectPicture" (change)="onFileSelected($event)" /><br>-->
    <label>Objectif de recolte: </label><input type="double precision" id="moneyValue" [(ngModel)]="project.recolte_projet" name="recolte_projet" /><br>
    <input type="submit" value="Submit">
</form>