<!DOCTYPE html>
<html>
<head>
	<title>Formulaire TypeScript</title>
</head>
<body>

  <select id="users">
    <option  *ngFor="let usr of chatService.users" [value] = "usr.id_utilisateur">
      {{usr.nom_utilisateur}} 
      {{usr.prenom_utilisateur}}
    </option>
  </select>
  
  <div id="container">
    <div *ngFor="let  msg of chatService.messages">
      {{msg.nom_utilisateur}} :
      {{msg.chat_message}} 
    </div>
  </div>

  <form  id="zone_message">
  <div class="message-bar">
    <label for="message">Message :</label>
    <textarea id="message" name="message" required></textarea><br>
    <button id="send-button" (click)="onSendMessage()">Envoyer</button>
  </div>
  </form>

</body>
</html>


  