<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Service de messagerie instantanée</title>
    <script type="text/javascript" src="./chat.component.js"></script>
    <link rel="stylesheet" href="./chat.component.scss">

</head>

<body >
    <p>Trouvez vous votre profil ?<select id="choix_utilisateurs" ></select></p>
    <div id="chat-container">
        <div id="nom"></div><div id="message-list"></div>
        <div id="input-container">
            <input type="text" id="message-input" placeholder="Tapez votre message...">
            <button id="send-button">Envoyer</button>
        </div>
    </div>
</body>
</html>
